
<div class="jumbotron bg-darken">
  <h1 class="display-4 text-center">Mero Share</h1>
  <p class="lead mx-4">Mero Share is an online portal of CDSC (Central Depository System and Clearing Ltd ) which provides the details of share transactions with their Demat account.

You need to access the portal of CDSC Mero share from their website and mobile app. CDSC has recently launched a mobile app for Mero share.</p>
  <hr class="my-4">
  <strong class="mx-2">What questions should I ask about shares?</strong>
  <p class="mx-4">As most of the things are going digital these days, filling share form for IPO has also become digital. Now you don’t need to queue in line for hours to invest in shares using your hard-earned money. As known, people earned a lot of money with the share investment but they need to devote a lot of precious time and money to fill the share form. Find more information on Mero share login and all of the processes for MeroShare account like changing password, renew below.<br></p>
  <a class="btn btn-secondary btn-lg col-12 d-grid" href="/market" role="button">List of banks</a>
</div>